
.button {
    box-sizing: border-box;
    cursor: pointer;
    /* font-size: 12px; */
    transition: all ease 0.2s;
    user-select: none;
}
.app-top-button {
    box-sizing: border-box;
    height: 35px;
    background: grey;
    border: rgb(103, 103, 255) solid 2px;
    overflow: hidden;
    text-align: left;
    line-height: 1em;
}

.button_hidden {
    display: none;
}
