.search-bar {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

.search-bar-focus {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}
.search-bar-focus {
    display: flex;
    align-items: center;
    height: 100%;
}

.image-container {
    height: 100%;
    width: 25px;
    
}

.search-bar-focus__image {
    display: none;
    background-size: 100% 100%;
    height: 15px;
    width: 15px;
    margin: 10px 0px 0px 5px;
    filter: invert(0.5)
}

.input-area {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    height: 100%;
    padding: 0px 5px 0px 5px;
    border: solid #cfcbcb 1px;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.input-area__input {
    justify-self: start;
    width: 470px;
    border: none;
    outline: none;
}

.search-bar-focus__image_focused {
    display: block;
} 

/* .search-bar-focus_focused {
    border: solid #2875D9 1px;
    box-shadow: 0 0 1px 1px grey inset;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
} */

.input-area_focused {
    border:none;
    border: solid #2875D9 1px;
    border-left: none;
    /* box-shadow: 0 0 1px 1px grey inset; */
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.image-container_focused {
    height: 100%;
    width: 25px;
    border: solid #2875D9 1px;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    
}