html, body, h1, h2, p, li, a, div, form, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  padding-left: 10px;
  outline: none;
}







.App {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.app-container {
  /* display: grid;
  grid-template-rows: auto auto; */
  width: 90%;
}